html {
    background: linear-gradient(1turn, darkblue, #d3e2f3, #75fff3) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    font-family: 'Goudy Bookletter 1911', serif;
    color: rgb(41, 41, 41);
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: transparent;
}
body {
    background: transparent;
}

.main-title img {
    width: 5rem;
    height: auto;
}

.main-title {
    display: flex;
    flex-direction: row;
}

.main-title span {
    color: blue;
}

.card span {
    color: red;
}

.card-group {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 70vw;
    margin-top: 1rem;
    color: black;
    font-weight: 500
}

.card-group input {
    align-content: stretch;
    flex-grow: 1;
    padding: 0.3rem;
    border: 1px solid blue;
    margin-top: 0.2rem;
    border-radius: 10px;
}

.toggle-group {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, white, white 25px);
    background-image: -webkit-linear-gradient(top, white, white 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px black, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing: content-box;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    background: red;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
}

.switch-label:before,
.switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing: content-box;
}

.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: white;
    text-shadow: 0 2px black(255, 255, 255, 0.5);
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.switch-input:checked~.switch-label {
    background: blue;
    box-shadow: inset 0 1px 2px black(0, 0, 0, 0.15), inset 0 0 3px black(0, 0, 0, 0.2);
}

.switch-input:checked~.switch-label:before {
    opacity: 0;
}

.switch-input:checked~.switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, white 40%, white);
    background-image: -webkit-linear-gradient(top, white 40%, white);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, white, white);
    background-image: -webkit-linear-gradient(top, white, white);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked~.switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-label,
.switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

.add-button {
    display: flex;
    border-radius: 5%;
    background-color: darkblue;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 10px;
    width: 130px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 1rem;
}

.add-button span {
    cursor: pointer;
    display: flex;
    position: relative;
    transition: 0.5s;
    color: white;
}

.add-button span:after {
    content: '\00bb';
    color: white;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.add-button:hover {
    border: 2px solid lightseagreen;
}

.add-button:hover span {
    padding-right: 25px;
}

.add-button:hover span:after {
    opacity: 1;
    right: 0;
}

.toggle-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.toggle-group input {
    margin-left: 20px;
    background: red;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.toggle-group input:hover {
    transform: scale(1.2);
    transition: all 0.2s;
    border: 1px solid white;
    color: white;
}

table {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-left: none;
    border-right: none;
    width: 80vw;
    color: white;
}

table tr th {
    color: white;
    font-weight: 500;
}

table tr {
    display: flex;
    justify-content: space-between;
}

.book-container .book-item {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    background: rgb(145, 255, 255);
    margin: 2rem;
    padding: 1rem;
    border: 2px ridge white;
    border-radius: 30px;
}

.book-container .book-item button {
    border-radius: 50%;
    border-color: gray;
    background: rgba(1, 1, 100, 0.635);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.book-container .book-item button:hover {
    transform: scale(1.12);
    background: rgba(0, 97, 97, 0.411);
}

.book-container .book-item .delete-button {
    background: red;
}

.book-container .book-item .delete-button:hover {
    background: rgb(255, 89, 0);
}

#copyright {
    position: relative;
    bottom: 0;
    left: 5px;
    font-size: 0.7rem;
    color: white;
}

.fa {
    padding-left: 2px;
    text-align: center;
    text-decoration: none;
    color: lightblue;
}


/* Add a hover effect if you want */

.fa:hover {
    color: lightyellow;
    transition: 0.5s;
    transform: scale(1.4);
}

.alert {
    background: red;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    display: none;
}
